*{
    margin: 0;
    padding: 0;
}

.container{
    height: 150vh;
    /* background-color: white; */
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.71wTiYJFeY52e-S3F2rAVQHaEK&pid=Api&P=0&w=313&h=177');
}

header{
    background-color: rgb(218, 221, 30);
    color: black;
    height: 15vh;
}

header nav strong{
    text-align: center;
    padding: 20px 0px 3px 0px;
    margin: 435px;
    top: 100px;
    /* float: right; */
    /* color: white; */
    font-size: xxx-large;
}

.image{
    position: absolute;
    padding: 70px 0px 0px 600px;
    margin: 0px 0px 0px 0px;
    top: 200px;
}

.main{
    text-align: center;
    padding: 600px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    /* background-color: aqua; */
}

ol {
    font-size: large;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 16px 0px 0px 0px;
    background-color: aqua;
}

h5{
    text-decoration: underline;
    font-size: xx-large;
    background-color: aquamarine;

}

li{
    padding: 14px 0px 0px 0px;
    /* justify-content: left; */
}

.last{
    font-size: x-large;
    text-align: center;
    background: yellow;
    border: 2px solid black;
}

h1{
    font-size: x-large;
}

.logo{
    display: inline;
}

footer{
    height: 20px;
    text-align: center;
    background-color: black;
    color: white;
}